In [1]:
!git clone https://github.com/radhikasethi2011/ProteinClassify.git

Cloning into 'ProteinClassify'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (24/24), done.
remote: Total 27 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.

In [2]:
import numpy as np
import pandas as pd
import os
from statistics import mode
import glob as glob

In [3]:
scop_cla = pd.read_csv('/content/ProteinClassify/scop-cla-latest.txt', header=None, skiprows=7, delimiter = ' ')
cols = [0,3,4,5,6,7,8,9]
scop_cla.drop(scop_cla.columns[cols], axis= 1, inplace=True)
scop_cla.rename(columns={ scop_cla.columns[0]: "residue" , 
                         scop_cla.columns[1]: "chain",
                         scop_cla.columns[2]: "label" }, inplace=True)
scop_cla['chain'] = scop_cla['chain'].str.split(':').str[0]
scop_cla['label'] = scop_cla['label'].str.split(',').str[1].str.split('=').str[1]
scop_cla['residue'] = scop_cla['residue'] + '_' + scop_cla['chain']
#scop_cla['residue'] = scop_cla['residue'].str[1:]

#scop_cla.set_index(['residue'], inplace=True)
scop_cla

      residue chain    label
0      6J56_A     A  1000003
1      3FKQ_A     A  1000002
2      1XHF_A     A  1000002
3      1Y7P_B     B  1000002
4      1JBE_A     A  1000002
...       ...   ...      ...
36846  1SCJ_B     B  1000003
36847  1T1E_A     A  1000003
36848  1JQG_A     A  1000003
36849  1KN6_A     A  1000003
36850  1KWM_A     A  1000003

[36851 rows x 3 columns]

In [4]:
cols = ['domid','pdbid', 'pdbchain']
scop_struct = pd.read_csv('/content/ProteinClassify/scop-represented-structures-latest.txt',
                   header = None, skiprows=6, names=cols, delimiter = ' ')
scop_struct['pdbid'] = scop_struct['pdbid'] + '_' + scop_struct['pdbchain']
scop_struct

          domid   pdbid pdbchain
0       8000061  2DT5_B        B
1       8000376  2FR1_A        A
2       8000376  6W7S_A        A
3       8000376  6WH9_A        A
4       8000376  6WH9_D        D
...         ...     ...      ...
858211  8107712  7T7E_A        A
858212  8107712  7T7F_A        A
858213  8107712  7T7G_A        A
858214  8107715  7R1K_A        A
858215  8107716  7R1K_A        A

[858216 rows x 3 columns]

In [6]:
mask = scop_cla['residue'] == '5FLV_E'
scop_cla[mask]['label']

31019    1000001
Name: label, dtype: object

In [7]:
ans = set(list(scop_cla['residue'])).intersection(list(scop_struct['pdbid']))
len(ans)

220

In [8]:
#scop_cla.set_index(['residue'], inplace=True)
#scop_struct.set_index(['pdbid'], inplace=True)
merged = scop_struct.merge(scop_cla, left_on='pdbid', right_on='residue')
merged = merged.drop_duplicates(subset=['pdbid'],keep='first')
merged.drop(columns=['pdbid','pdbchain'], axis=1, inplace=True)
merged['residue'] = merged['residue'].str.split('_').str[0]
merged.reset_index(drop=True, inplace=True)
merged.to_csv('pdb_chain_class.csv', sep=',')
merged.set_index(['residue'], inplace=True)

merged

           domid chain    label
residue
2O61     8003180     A  1000003
2J9U     8003499     B  1000004
4KSS     8018133     F  1000001
3GD7     8018340     A  1000002
4JKV     8018754     B  1000000
...          ...   ...      ...
2JSS     8103852     A  1000000
6WVB     8106213     A  1000003
7PAB     8106311     A  1000001
7PAB     8106313     C  1000003
6WVH     8106929     A  1000003

[220 rows x 3 columns]

In [9]:
mask = merged.index == '5FLV'
merged[mask]['label']

residue
5FLV    1000000
5FLV    1000001
Name: label, dtype: object

In [10]:
merged[mask]['chain']

residue
5FLV    M
5FLV    E
Name: chain, dtype: object

In [11]:
%mkdir /content/pdbs
%mkdir /content/ca_csv
%mkdir /content/records

In [12]:
def is_atom_record(record):
  if record.startswith('ATOM'): 
    return True;
  return False;

def is_intended_chain(record, chain):
  if record[21] == chain: 
    return True
  return False

def is_chain_ter_record(record, chain):
  if record[21] == chain and record.startswith("TER"): 
    return True
  return False

def is_alt_record(record):
  if record[16] == " ": 
    return False
  return True
  
def is_ca_atom(record):
  if record[12:15].strip() == "CA":
    return True
  return False

def parse_atom_records(record):
  atom = record[12:16].strip()
  residue = record[17:20].strip()
  chain = record[21].strip()
  seq_pos = record[22:26].strip()
  x = record[30:38].strip()
  y = record[38:46].strip()
  z = record[46:54].strip()
  return atom, residue, chain, seq_pos, x, y, z

def parse_pdb(contents, chainl): #chain: list
  ca_records = {}
  pos = 0
  for i in range(len(chainl)):
    for line in contents:
      if line.startswith("ENDMDL"): break;
      if is_chain_ter_record(line, chainl[i]): break;

      if not is_atom_record(line): continue
      if not is_intended_chain(line, chainl[i]): continue
      if is_alt_record(line): continue 
      if not is_ca_atom(line): continue

      (atom, residue, chain, rel_pos, x, y, z) = parse_atom_records(line)
      ca_records[pos] = atom, residue, chain, rel_pos, x, y, z
      pos+=1
  return ca_records

def dump_records_to_csv_file(file_name, record_dict):
  file = open(file_name, 'w')
  for key in record_dict.keys():
    (atom, residue, chain, pos, x, y, z) = record_dict[key]
    file.write(f"%s,%s,%s,%s,%s,%s,%s\n"%(atom, residue, chain, pos, x, y, z))

In [13]:
import tensorflow as tf 

# The following functions can be used to convert a value to a type compatible
# with tf.train.Example.

def _bytes_feature(value):
  """Returns a bytes_list from a string / byte."""
  if isinstance(value, type(tf.constant(0))):
    value = value.numpy() # BytesList won't unpack a string from an EagerTensor.
  return tf.train.Feature(bytes_list=tf.train.BytesList(value=[value]))

def _float_feature(value):
  """Returns a float_list from a float / double."""
  return tf.train.Feature(float_list=tf.train.FloatList(value=[value]))

def _int64_feature(value):
  """Returns an int64_list from a bool / enum / int / uint."""
  return tf.train.Feature(int64_list=tf.train.Int64List(value=[value]))

In [14]:
def serialize_example(feature0, feature1, feature3, 
                      feature4, feature5, feature6):
  """
  Creates a tf.train.Example message ready to be written to a file.
  """
  # Create a dictionary mapping the feature name to the tf.train.Example-compatible
  # data type.
  feature = {
      'label': _bytes_feature(feature0),
      'residue': _bytes_feature(feature1),
      'pos': _int64_feature(feature3),
      'x': _float_feature(feature4),
      'y': _float_feature(feature5),
      'z': _float_feature(feature6)
  }

  # Create a Features message using tf.train.Example.

  example_proto = tf.train.Example(features=tf.train.Features(feature=feature))
  return example_proto.SerializeToString()

In [15]:
#filename = 'test.tfrecord'
def write_to_testrecord(filename, df, label):
  with tf.io.TFRecordWriter(filename) as writer:
    for i in range(len(df)):
      serialized_example = serialize_example(bytes(label, 'utf-8' ),
                                            bytes(df['atom'][i], 'utf-8'), 
                                            df['pos'][i], df['x'][i], 
                                            df['y'][i], df['z'][i])
      example_proto = tf.train.Example.FromString(serialized_example)
      #writer = tf.data.experimental.TFRecordWriter(filename)
      writer.write(serialized_example)

In [16]:
def edit_pos(csv_name):
  col_names = ['ca','atom','residue','pos','x','y','z']
  df = pd.read_csv(f'/content/ca_csv/{csv_name}.csv', names=col_names, sep=',')
  x = df['x'][0]
  y = df['y'][0]
  z = df['z'][0]
  df['x'] = df['x'] - x
  df['y'] = df['y'] - y
  df['z'] = df['z'] - z
  return df

In [18]:
pd_list = list(merged.index)
for i in range(len(pd_list)):
  pd_id = pd_list[i]
  #print(i, pd_id)
  !wget -q https://files.rcsb.org/download/{pd_id}.pdb -O /content/pdbs/{pd_id}.pdb
  size = os.path.getsize(f"/content/pdbs/{pd_id}.pdb")
  if size>0:
    chainl = list(merged['chain'][pd_id])
    print("i: ", i, pd_id, chainl)
    with open(f'/content/pdbs/{pd_id}.pdb') as f:
      contents = f.readlines() 
    ca_records = parse_pdb(contents, chainl) 
    dump_records_to_csv_file(f'/content/ca_csv/{pd_id}.csv', ca_records)
    df = edit_pos(pd_id)
    label = merged['label'][pd_id]
    if(type(label) is str):
      filename = '/content/records/' + f'{pd_id}' + '_' + f'{label}' + '.tfrecord'
      write_to_testrecord(filename, df, label)
    else:
      for l in label: 
        filename = '/content/records/' + f'{pd_id}' + '_' + f'{l}' + '.tfrecord'
        write_to_testrecord(filename, df, l)
  else: print("! ! ! ! file not found at rcsb ! ! ! !")

i:  0 2O61 ['A']
i:  1 2J9U ['B']
i:  2 4KSS ['F']
i:  3 3GD7 ['A']
i:  4 4JKV ['B']
i:  5 4N6H ['A']
i:  6 4NTJ ['A']
i:  7 4OR2 ['A']
i:  8 4YAY ['A']
i:  9 4Z34 ['A']
i:  10 5NDD ['A']
i:  11 5UEN ['A']
i:  12 5UNF ['B']
i:  13 5WIV ['A']
i:  14 6A93 ['A']
i:  15 6BQG ['A']
i:  16 6D32 ['A']
i:  17 6DRZ ['A']
i:  18 6IIU ['A']
i:  19 6IQL ['A']
i:  20 6KO5 ['A']
i:  21 6LW5 ['A']
i:  22 6ME6 ['A']
i:  23 6RZ4 ['A']
i:  24 6RZ6 ['A']
i:  25 2B5U ['A']
i:  26 1DF0 ['A']
i:  27 1QXP ['A']
i:  28 1IVS ['A']
i:  29 1QPZ ['A']
i:  30 1DD3 ['A']
i:  31 2LFR ['A']
i:  32 3PBL ['A']
i:  33 3RZE ['A']
i:  34 3V2Y ['A']
i:  35 3VW7 ['A']
i:  36 4DJH ['A']
i:  37 4EJ4 ['A']
i:  38 4N9N ['A']
i:  39 4RWS ['A']
i:  40 4U14 ['A']
i:  41 5B2G ['A']
i:  42 5CXV ['A']
i:  43 5DSG ['A']
i:  44 5T04 ['A']
i:  45 5TZR ['A']
i:  46 5W0P ['A']
i:  47 5X93 ['A']
i:  48 5XSZ ['A']
i:  49 5YQZ ['R']
i:  50 5ZBQ ['A']
i:  51 6CM4 ['A']
i:  52 6D26 ['A']
i:  53 6D9M ['A']
i:  54 1H6W ['A']
i:  55 1X9Y ['A']
i:  56 1K1S ['A']
i:  57 3UIT ['D']
i:  58 1OPK ['A']
i:  59 1E3P ['A']
i:  60 3UF8 ['A']
i:  61 6RPQ ['A']
i:  62 1BX2 ['B']
i:  63 1AIP ['C']
i:  64 1NSA ['A']
i:  65 1ASS ['A']
i:  66 1P0S ['L']
i:  67 1SLM ['A']
i:  68 3ZYM ['C']
i:  69 1JEQ ['A']
i:  70 2PTK ['A']
i:  71 1TLL ['A']
i:  72 1TTE ['A']
i:  73 1US2 ['A']
i:  74 2AHO ['B']
i:  75 6DM0 ['B']
i:  76 7TNM ['D']
i:  77 2L5A ['A']
i:  78 1SOX ['A']
i:  79 4NFT ['C']
i:  80 1Z1B ['A']
i:  81 1NKN ['B']
i:  82 3BAS ['A']
i:  83 4G2K ['B']
i:  84 1BUU ['A']
i:  85 1FZC ['C']
i:  86 3BUL ['A']
i:  87 1Y57 ['A']
i:  88 5UFU ['A']
i:  89 1BGX ['T']
i:  90 2EYQ ['A']
i:  91 1W26 ['A']
i:  92 2IUB ['A']
i:  93 4ZJ8 ['A']
i:  94 5U09 ['A']
i:  95 5WS3 ['A']
i:  96 6FJ3 ['A']
i:  97 6ME2 ['A']
i:  98 1G1S ['A']
i:  99 1P5Q ['A']
i:  100 1OQY ['A']
i:  101 2AST ['B']
i:  102 1FYB ['A']
i:  103 5VQP ['A']
i:  104 1FIO ['A']
i:  105 1TPG ['A']
i:  106 3H4I ['A']
i:  107 4XNW ['C']
i:  108 5UIW ['A']
i:  109 5VBL ['B']
i:  110 6BD4 ['A']
i:  111 6GPS ['A']
i:  112 1PZQ ['A']
i:  113 1SJ8 ['A']
i:  114 1FBV ['A']
i:  115 1MNT ['A']
i:  116 2HZA ['A']
i:  117 1T1E ['A']
i:  118 4PKG ['G']
i:  119 4PKI ['G']
i:  120 2H8W ['A']
i:  121 1Q90 ['A']
i:  122 1FFT ['B']
i:  123 7BXT ['E']
i:  124 4ZCH ['A']
i:  125 5LJ5 ['A']
i:  126 1YWP ['A']
i:  127 4K45 ['A']
i:  128 1GPL ['A']
i:  129 1S16 ['A']
i:  130 6PX3 ['C']
i:  131 1ILE ['A']
i:  132 1DIV ['A']
i:  133 2OK5 ['A']
i:  134 1WKA ['A']
i:  135 3KZA ['B']
i:  136 5LCZ ['B']
i:  137 1R6B ['X']
i:  138 1NPP ['A']
i:  139 6TWQ ['B']
i:  140 7PC4 ['A']
i:  141 7PC8 ['A']
i:  142 7QQL ['B']
i:  143 7QQM ['A']
i:  144 2HSG ['A']
i:  145 1A6D ['A']
i:  146 5ZKP ['A']
i:  147 7K15 ['A']
i:  148 4D7R ['A']
i:  149 1UDZ ['A']
i:  150 1A2O ['A']
i:  151 1K6Y ['A']
i:  152 1M9S ['A']
i:  153 2N51 ['A']
i:  154 6ZIS ['A']
i:  155 4BWC ['A']
! ! ! ! file not found at rcsb ! ! ! !
i:  157 4D8O ['A']
i:  158 5D91 ['A']
i:  159 6WM5 ['A']
i:  160 3F83 ['A']
i:  161 5HAX ['A']
i:  162 2GJ6 ['D']
i:  163 4UDU ['A']
i:  164 4Y16 ['C']
i:  165 7RYM ['D']
i:  166 4ZDH ['B']
i:  167 1A6A ['B']
i:  168 1FNG ['B']
i:  169 1CCZ ['A']
i:  170 2QKS ['A']
i:  171 1TYE ['B']
i:  172 5JCP ['B']
i:  173 1HSJ ['A']
i:  174 1MG1 ['A']
i:  175 2XZ3 ['A']
i:  176 3A3C ['A']
i:  177 3CSB ['A']
i:  178 3EHS ['A']
i:  179 3H4Z ['A']
i:  180 3OAI ['A']
i:  181 4EGC ['A']
i:  182 4EXK ['A']
i:  183 4H1G ['A']
i:  184 4LOG ['A']
i:  185 4XAJ ['B']
i:  186 4XZV ['C']
i:  187 5EDU ['A']
i:  188 5H7N ['B']
i:  189 5YGS ['A']
i:  190 5Z0R ['A']
i:  191 5ZNZ ['C']
i:  192 6AEO ['A']
i:  193 6D65 ['A']
i:  194 5FLV ['M', 'E']
i:  195 6YT3 ['B']
i:  196 6SLO ['B']
i:  197 1AYE ['A']
i:  198 5NXS ['A']
i:  199 4P0K ['A']
i:  200 5FLV ['M', 'E']
i:  201 4ATH ['A']
i:  202 1XMW ['A']
i:  203 3ZQB ['B']
i:  204 3U5V ['A']
i:  205 5ZRY ['B', 'A']
i:  206 5ZRY ['B', 'A']
i:  207 4U2N ['A']
i:  208 5XMC ['A']
i:  209 2KN4 ['A']
i:  210 4WVE ['A']
i:  211 6E67 ['B']
i:  212 1CE3 ['A']
i:  213 6WV8 ['A']
i:  214 5EHM ['A']
i:  215 2JSS ['A']
i:  216 6WVB ['A']
i:  217 7PAB ['A', 'C']
i:  218 7PAB ['A', 'C']
i:  219 6WVH ['A']

In [ ]:
filenames = [filename]
raw_dataset = tf.data.TFRecordDataset(filenames)
raw_dataset

for raw_record in raw_dataset.take(10):
  example = tf.train.Example()
  example.ParseFromString(raw_record.numpy())
  print(example)

In [19]:
!tar -zcvf records.tar.gz /content/records

tar: Removing leading `/' from member names
/content/records/
/content/records/1S16_1000003.tfrecord
/content/records/5DSG_1000000.tfrecord
/content/records/6SLO_1000002.tfrecord
/content/records/2LFR_1000000.tfrecord
/content/records/5UFU_1000003.tfrecord
/content/records/5ZRY_1000000.tfrecord
/content/records/3UIT_1000000.tfrecord
/content/records/6WVB_1000003.tfrecord
/content/records/4P0K_1000001.tfrecord
/content/records/1PZQ_1000000.tfrecord
/content/records/1SOX_1000003.tfrecord
/content/records/1SJ8_1000000.tfrecord
/content/records/1G1S_1000003.tfrecord
/content/records/2H8W_1000000.tfrecord
/content/records/6D32_1000000.tfrecord
/content/records/5EHM_1000002.tfrecord
/content/records/7PAB_1000001.tfrecord
/content/records/1TPG_1000004.tfrecord
/content/records/2GJ6_1000001.tfrecord
/content/records/4BWC_1000003.tfrecord
/content/records/1UDZ_1000001.tfrecord
/content/records/4PKG_1000004.tfrecord
/content/records/4PKI_1000002.tfrecord
/content/records/6ME6_1000000.tfrecord
/content/records/1SLM_1000000.tfrecord
/content/records/1E3P_1000001.tfrecord
/content/records/7TNM_1000000.tfrecord
/content/records/1DF0_1000001.tfrecord
/content/records/2EYQ_1000003.tfrecord
/content/records/7PC4_1000001.tfrecord
/content/records/7QQM_1000001.tfrecord
/content/records/5JCP_1000000.tfrecord
/content/records/1GPL_1000002.tfrecord
/content/records/7QQL_1000001.tfrecord
/content/records/2L5A_1000000.tfrecord
/content/records/1WKA_1000001.tfrecord
/content/records/5YGS_1000000.tfrecord
/content/records/6AEO_1000003.tfrecord
/content/records/4WVE_1000001.tfrecord
/content/records/5YQZ_1000000.tfrecord
/content/records/6IIU_1000000.tfrecord
/content/records/5VBL_1000000.tfrecord
/content/records/4ZJ8_1000000.tfrecord
/content/records/4LOG_1000000.tfrecord
/content/records/4RWS_1000000.tfrecord
/content/records/4EGC_1000000.tfrecord
/content/records/6ZIS_1000002.tfrecord
/content/records/1T1E_1000003.tfrecord
/content/records/3OAI_1000001.tfrecord
/content/records/3UF8_1000003.tfrecord
/content/records/3CSB_1000001.tfrecord
/content/records/6RZ4_1000000.tfrecord
/content/records/4JKV_1000000.tfrecord
/content/records/2JSS_1000000.tfrecord
/content/records/7PAB_1000003.tfrecord
/content/records/6RZ6_1000000.tfrecord
/content/records/5NDD_1000000.tfrecord
/content/records/1DD3_1000003.tfrecord
/content/records/4U14_1000000.tfrecord
/content/records/4N9N_1000000.tfrecord
/content/records/3U5V_1000000.tfrecord
/content/records/4D7R_1000000.tfrecord
/content/records/4N6H_1000000.tfrecord
/content/records/2PTK_1000003.tfrecord
/content/records/6WM5_1000000.tfrecord
/content/records/4XZV_1000000.tfrecord
/content/records/2J9U_1000004.tfrecord
/content/records/1OQY_1000000.tfrecord
/content/records/5UNF_1000000.tfrecord
/content/records/3KZA_1000001.tfrecord
/content/records/4NFT_1000000.tfrecord
/content/records/1BUU_1000000.tfrecord
/content/records/1FZC_1000000.tfrecord
/content/records/3ZQB_1000000.tfrecord
/content/records/1TLL_1000002.tfrecord
/content/records/1TYE_1000004.tfrecord
/content/records/1FBV_1000004.tfrecord
/content/records/5ZBQ_1000000.tfrecord
/content/records/2IUB_1000000.tfrecord
/content/records/5H7N_1000000.tfrecord
/content/records/1BX2_1000001.tfrecord
/content/records/5ZNZ_1000000.tfrecord
/content/records/1DIV_1000003.tfrecord
/content/records/6PX3_1000003.tfrecord
/content/records/1MG1_1000000.tfrecord
/content/records/4Z34_1000000.tfrecord
/content/records/4OR2_1000000.tfrecord
/content/records/4H1G_1000002.tfrecord
/content/records/6A93_1000000.tfrecord
/content/records/1CE3_1000004.tfrecord
/content/records/1M9S_1000001.tfrecord
/content/records/4EXK_1000001.tfrecord
/content/records/4DJH_1000000.tfrecord
/content/records/7K15_1000000.tfrecord
/content/records/6D26_1000000.tfrecord
/content/records/4KSS_1000001.tfrecord
/content/records/1FNG_1000003.tfrecord
/content/records/6RPQ_1000001.tfrecord
/content/records/4Y16_1000001.tfrecord
/content/records/3H4I_1000002.tfrecord
/content/records/1H6W_1000001.tfrecord
/content/records/1K6Y_1000000.tfrecord
/content/records/1NSA_1000003.tfrecord
/content/records/2HSG_1000000.tfrecord
/content/records/3RZE_1000000.tfrecord
/content/records/1P0S_1000004.tfrecord
/content/records/4ZCH_1000001.tfrecord
/content/records/1NPP_1000001.tfrecord
/content/records/3A3C_1000004.tfrecord
/content/records/6WVH_1000003.tfrecord
/content/records/1QXP_1000001.tfrecord
/content/records/4D8O_1000000.tfrecord
/content/records/2O61_1000003.tfrecord
/content/records/5XSZ_1000000.tfrecord
/content/records/5WS3_1000000.tfrecord
/content/records/1Z1B_1000003.tfrecord
/content/records/2OK5_1000004.tfrecord
/content/records/2B5U_1000000.tfrecord
/content/records/1NKN_1000000.tfrecord
/content/records/1QPZ_1000000.tfrecord
/content/records/6IQL_1000000.tfrecord
/content/records/1ILE_1000002.tfrecord
/content/records/6E67_1000003.tfrecord
/content/records/5X93_1000000.tfrecord
/content/records/1Y57_1000003.tfrecord
/content/records/5NXS_1000001.tfrecord
/content/records/6YT3_1000002.tfrecord
/content/records/5TZR_1000000.tfrecord
/content/records/4ATH_1000000.tfrecord
/content/records/2KN4_1000003.tfrecord
/content/records/5EDU_1000002.tfrecord
/content/records/1K1S_1000003.tfrecord
/content/records/7RYM_1000001.tfrecord
/content/records/1FYB_1000004.tfrecord
/content/records/6DM0_1000000.tfrecord
/content/records/4G2K_1000000.tfrecord
/content/records/5D91_1000000.tfrecord
/content/records/1BGX_1000000.tfrecord
/content/records/1W26_1000000.tfrecord
/content/records/1Q90_1000000.tfrecord
/content/records/5W0P_1000000.tfrecord
/content/records/5CXV_1000000.tfrecord
/content/records/5UIW_1000000.tfrecord
/content/records/1YWP_1000001.tfrecord
/content/records/6LW5_1000000.tfrecord
/content/records/1CCZ_1000001.tfrecord
/content/records/1US2_1000002.tfrecord
/content/records/5UEN_1000000.tfrecord
/content/records/3BAS_1000000.tfrecord
/content/records/6D9M_1000003.tfrecord
/content/records/5XMC_1000001.tfrecord
/content/records/6BQG_1000000.tfrecord
/content/records/1X9Y_1000003.tfrecord
/content/records/6CM4_1000000.tfrecord
/content/records/7PC8_1000001.tfrecord
/content/records/1A6A_1000001.tfrecord
/content/records/7BXT_1000000.tfrecord
/content/records/5Z0R_1000000.tfrecord
/content/records/4EJ4_1000000.tfrecord
/content/records/4K45_1000003.tfrecord
/content/records/6KO5_1000000.tfrecord
/content/records/1MNT_1000000.tfrecord
/content/records/3H4Z_1000003.tfrecord
/content/records/1ASS_1000002.tfrecord
/content/records/5LJ5_1000002.tfrecord
/content/records/3GD7_1000002.tfrecord
/content/records/5B2G_1000000.tfrecord
/content/records/6TWQ_1000001.tfrecord
/content/records/1AIP_1000000.tfrecord
/content/records/4U2N_1000003.tfrecord
/content/records/6FJ3_1000000.tfrecord
/content/records/5WIV_1000000.tfrecord
/content/records/4YAY_1000000.tfrecord
/content/records/6DRZ_1000000.tfrecord
/content/records/1R6B_1000002.tfrecord
/content/records/4XNW_1000000.tfrecord
/content/records/5FLV_1000000.tfrecord
/content/records/4ZDH_1000001.tfrecord
/content/records/4UDU_1000001.tfrecord
/content/records/4NTJ_1000000.tfrecord
/content/records/1IVS_1000002.tfrecord
/content/records/1A2O_1000002.tfrecord
/content/records/5VQP_1000001.tfrecord
/content/records/3VW7_1000000.tfrecord
/content/records/6GPS_1000000.tfrecord
/content/records/4XAJ_1000000.tfrecord
/content/records/2HZA_1000000.tfrecord
/content/records/5LCZ_1000000.tfrecord
/content/records/1TTE_1000000.tfrecord
/content/records/1JEQ_1000000.tfrecord
/content/records/1A6D_1000000.tfrecord
/content/records/1AYE_1000003.tfrecord
/content/records/5HAX_1000001.tfrecord
/content/records/2N51_1000003.tfrecord
/content/records/6D65_1000002.tfrecord
/content/records/6ME2_1000000.tfrecord
/content/records/2AST_1000002.tfrecord
/content/records/3PBL_1000000.tfrecord
/content/records/6BD4_1000000.tfrecord
/content/records/6WV8_1000003.tfrecord
/content/records/2QKS_1000000.tfrecord
/content/records/3F83_1000001.tfrecord
/content/records/5ZKP_1000000.tfrecord
/content/records/3EHS_1000004.tfrecord
/content/records/1P5Q_1000000.tfrecord
/content/records/3V2Y_1000000.tfrecord
/content/records/5T04_1000000.tfrecord
/content/records/1FIO_1000000.tfrecord
/content/records/3ZYM_1000000.tfrecord
/content/records/1HSJ_1000003.tfrecord
/content/records/1XMW_1000001.tfrecord
/content/records/3BUL_1000002.tfrecord
/content/records/5FLV_1000001.tfrecord
/content/records/2XZ3_1000000.tfrecord
/content/records/1FFT_1000000.tfrecord
/content/records/2AHO_1000001.tfrecord
/content/records/1OPK_1000001.tfrecord
/content/records/5U09_1000000.tfrecord